@model IEnumerable<ReseptiHaku.Models.ReseptienVaiheet>

@{
    ViewBag.Title = "Index";
}

<h2>Reseptien vaiheet - [dbo].[ReseptienVaiheet]</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReseptiVaihe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReseptiVaihe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReseptiVaiheID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReseptiVaiheID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReseptiVaiheID })
        </td>
    </tr>
}

</table>
