@model IEnumerable<ReseptiHaku.Models.ReseptienVaiheet>

@{
    ViewBag.Title = "Index";
}

@*JQuery, joka suoritetaan aina, kun sivu latautuu*@
@*Tarkistaa tuliko kontrollerilta tieto kirjautumisen epäonnistumisesta*@
@section scripts {
    <script type="text/javascript">
        $(window).on('load', function () {
            if (@ViewBag.LoginError == 1) {
                $('#LoginRuutu').modal('show');
            }
        });
    </script>
}

@*modaalin login-ikkunan renderöinti*@
@*koska näkymällä on eri model alunperin käytössä, pitää sille välittää oikea model:*@
@{
    Html.RenderPartial("_LoginModal", new ReseptiHaku.Models.Logins());
}

<h2>Reseptien vaiheet - [dbo].[ReseptienVaiheet]</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReseptiVaihe)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReseptiVaihe)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReseptiVaiheID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReseptiVaiheID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReseptiVaiheID })
            </td>
        </tr>
    }

</table>
