@model ReseptiHaku.Models.RaakaAineet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RaakaAineet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RaakaAine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaakaAine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategoriat.Kategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategoriat.Kategoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RaakaAineID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
