@model ReseptiHaku.Models.Reseptit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reseptit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReseptinNimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReseptinNimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReseptiVaiheetListaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReseptiVaiheetListaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnosKoko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnosKoko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReseptienAinesosaLista.ReseptiAinesosaListaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReseptienAinesosaLista.ReseptiAinesosaListaID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReseptiID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
