@model ReseptiHaku.Models.ReseptienVaiheidenLista

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReseptienVaiheidenLista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReseptienVaiheet.ReseptiVaihe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReseptienVaiheet.ReseptiVaihe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reseptit.ReseptinNimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reseptit.ReseptinNimi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RiviID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
