@model IEnumerable<ReseptiHaku.Models.ReseptienAinesosaLista>

@{
    ViewBag.Title = "Index";
}

<h2>Reseptien ainesosien lista - [dbo].[ReseptienAinesosaLista]</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Maara)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MittayksikkoLista.Mittayksikko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaakaAineet.RaakaAine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Maara)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MittayksikkoLista.Mittayksikko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaakaAineet.RaakaAine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReseptiAinesosaListaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReseptiAinesosaListaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReseptiAinesosaListaID })
        </td>
    </tr>
}

</table>
