@model ReseptiHaku.Models.MittayksikkoLista

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MittayksikkoLista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mittayksikko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mittayksikko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MittayksikkoSelite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MittayksikkoSelite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MittayksikkoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
